body{
    /* 랜덤 배경 이미지 넣기 */
    background-image: url("https://picsum.photos/1024");
    /* 배경 사이즈 설정 */
    /* background-size: 100px; */
    /* 배경 꽉 차게 설정 */
    background-size: cover; 
}
h1{
    border-bottom: 10px solid red !important;
    /* !important를 쓰면 우선순위가 높아진다 */
}
#container{
    display: grid;
    grid-template-columns: 200px 1fr;
}